apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rucio
secretGenerator:
  - name: 8316-deep-patch
    options:
      disableNameSuffixHash: true
    files:
      -  8316-deep.patch
  - name: 7690-audience-patch
    options:
      disableNameSuffixHash: true
    files:
      -  7690-audience.patch
  - name: server-debug-patch
    options:
      disableNameSuffixHash: true
    files:
      -  server-debug.patch
